.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  min-width: 320px;
  min-height: 360px;
  width: 26%;
  height: 40%;
  outline: 3px solid rgb(101, 71, 42);
  background-color: rgb(17, 13, 12);
  border-radius: 4px;
}
.title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 17pt;
  color: #e69a28;
  border-bottom: 1px solid;
}

.form {
  height: 220px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}

.submitButton {
  width: 100px;
  height: 35px;
  color: #e4c274;
  outline: 2px solid rgb(101, 71, 42);
  background-color: rgba(31, 67, 38, 0.78);
  border-radius: 4px;
  transition: all 0.3s;
}

.submitButton:hover {
  background-color: rgba(17, 13, 12, 0.78);
}

.error {
  font-size: 10pt;
  color: red;
}
