.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  width: 685px;
  height: 365px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 3px solid rgb(101, 71, 42);
  overflow-y: auto;
  background: rgba(21, 16, 14, 0.95);
}
.container {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 29pt;
  color: #e69a28;
}
p {
  text-align: center;
  width: 90%;
}
.startContainer {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 65px;
  outline: 3px solid rgb(101, 71, 42);
  background-color: rgba(17, 13, 12, 0.78);
  border-radius: 4px;
  color: #e69a28;
  transition: all 0.3s;
}

.start:hover {
  box-shadow: rgb(180, 135, 92) 0px 5px 8px;
}

.red {
  color: red;
}
