.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 17pt;
  color: #e69a28;
}
.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 180px;
}
.name {
  font-size: 14pt;
  color: #e69a28;
}

.description {
  padding-top: 5px;
  text-align: center;
  max-width: 90%;
}
.bgList {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  row-gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 440px;
}

.background {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
}

.background:hover {
  color: rgb(251, 224, 136);
  text-decoration: underline;
}

.bgImg {
  width: 67px;
  height: 67px;
  cursor: pointer;
}

.selected_bgImg {
  outline: 3.5px solid rgb(180, 135, 92);
  box-shadow: rgb(180, 135, 92) 0px 5px 12px;
  width: 67px;
  height: 67px;
  border-radius: 10px;
}

.error {
  color: red;
}
