.header {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container {
  max-width: 1950px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buildName {
  min-width: 150px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 22pt;
  border-bottom: 1px solid;
}

.userButtons {
  display: flex;
  column-gap: 8px;
}

#logout {
  background-color: rgba(145, 23, 23, 0.906);
  transition: all 0.3s;
}

#logout:hover {
  background-color: rgb(215, 17, 17);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4c274;
  outline: 1px solid #e4c274;
  background-color: rgba(17, 13, 12, 0.78);
  border-radius: 4px;
  font-size: 12pt;
  height: 35px;
  padding-left: 11px;
  padding-right: 11px;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  transition: all 0.3s;
}

.button:hover {
  color: #e69a28;
  outline-color: #e69a28;
  background: none;
}

/*
FADE-IN ANIMATIONS !!!!!!!!!!!
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
