.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 250px;
  background: rgba(17, 13, 12, 0.78);
  outline: 3px solid rgb(101, 71, 42);
  border-radius: 4px;
  overflow-y: auto;
}

.title {
  font-size: 17pt;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e69a28;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-radius: 4px;
  padding: 4px;
}
.filter:hover{
  background-color: rgba(17, 13, 12, 0.78);
}
.ownedButton {
  height: 10px;
  width: 10px;
  border: 1px solid;
  border-radius: 2px;
}

.ownedButton:hover {
  color: white;
}
.ownedButtonSelected {
  height: 12px;
  width: 12px;
  background-color: #e69a28;
  border: 1px solid;
  border-radius: 2px;
}

.ownedButtonSelected:hover {
  color: antiquewhite;
}

.list {
  background-color: rgba(17, 13, 12, 0.78);
  border-radius: 4px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  padding: 15px;
  row-gap: 5px;
}
.listItem:hover {
  color: antiquewhite;
}
.selected {
  text-decoration: underline;
}
.selected:hover {
  color: antiquewhite;
}
.button {
  color: #e4c274;
  outline: 2px solid rgb(101, 71, 42);
  background-color: rgba(17, 13, 12, 0.78);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
