.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 850px;
  min-height: 615px;
  min-width: 150px;
  max-width: 200px;
  width: 10%;
  height: 93%;
  background: rgba(17, 13, 12, 0.92);
  outline: 2px solid rgb(101, 71, 42);
  border-radius: 4px;

}

.title {
  font-size: 17pt;
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  color: #e69a28;
}

.filterContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  transition: all ease-in-out;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  margin-top: 15px;
  height: 25px;
  width: 120px;
  column-gap: 4px;
}
.filter:hover {
  color: antiquewhite;
}

.list {
  font-size: 12pt;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  row-gap: 5px;
}
.listItem:hover {
  color: antiquewhite;
}
.selected {
  text-decoration: underline;
  color: #e69a28;
}
.selected:hover {
  color: antiquewhite;
}
.clear {
  display: flex;
  align-items: center;
  justify-content: center;
}
