.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 250px;
  background: rgba(17, 13, 12, 0.92);
  outline: 3px solid rgb(101, 71, 42);
  border-radius: 4px;
  overflow-y: auto;
}

.title {
  font-size: 20pt;
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e69a28;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-radius: 4px;
  padding: 4px;
}
.filter:hover {
  background-color: rgba(17, 13, 12, 0.92);
}

.list {
  background-color: rgba(17, 13, 12, 0.92);
  border-radius: 4px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  padding: 15px;
  row-gap: 5px;
}
.listItem:hover {
  color: antiquewhite;
}
.selected {
  text-decoration: underline;
  color: #e69a28;
}
.selected:hover {
  color: antiquewhite;
}
.button {
  position: relative;
  top: 20px;
  left: 5px;
  color: #e4c274;
  outline: 2px solid rgb(101, 71, 42);
  background-color: rgba(17, 13, 12, 0.92);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
