.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  min-width: 340px;
  max-height: 850px;
  min-height: 615px;
  width: 28%;
  height: 93%;
}

.infoPanel {
  outline: 2px solid rgb(101, 71, 42);
  background: rgb(21, 16, 14, 0.92);
  border-radius: 4px;
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.infoPanel > * {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
.header {
  display: flex;
  width: 100%;
  height: 50px;
}
.headerButton {
  width: 50px;
  height: 50px;
}
.headerButton:hover {
  color: #e69a28;
}
.title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 17pt;
  margin-top: 10px;
  color: #e69a28;
}
.toCreate {
  color: #e4c274;
}
.toCreate:hover {
  color: #e69a28;
}
.mainClass {
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainClass > img {
  height: 100px;
  width: 100px;
}
.infoBody {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 10px;
}
.infoName {
  height: 10%;
  font-size: 15pt;
}
.infoAttributes {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 17px;
  font-size: 16pt;
}
.modifier {
  position: absolute;
  margin-bottom: 65px;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orange {
  color: #e69a28;
  /* color: #3b2b13 */
}
.infoClasses {
  width: 85%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.infoClass {
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listImage {
  width: 45px;
  height: 45px;
}
.infoCharacter {
  font-size: 12pt;
  display: flex;
  height: 10%;
  width: 97%;
  align-items: center;
  justify-content: center;
}
.char {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.scroll {
  position: relative;
  top: 8px;
  height: 85%;
  width: 85%;
  overflow-y: auto;
}
.noComment {
  font-size: 11pt;
  position: relative;
  margin-top: 40%;
}
.commentsList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 5px;
  row-gap: 10px;
}
.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2px;
  padding: 5px;
  background: rgba(3, 3, 3, 0.358);
  border-radius: 5px;
  width: 95%;
  min-height: 100px;
  max-height: 250px;
  overflow-wrap: break-word;
  overflow-y: auto;
}
.userName {
  width: 80%;
  height: 25px;
  padding-left: 5px;
  color: #e69a28;
}
.dots {
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.message {
  width: 80%;
  min-height: 50px;
  padding-left: 10px;
  padding-top: 7px;
}
.edit {
  padding-left: 6px;
  width: 90%;
}
.hidden{
  position: absolute;
  display: flex;
  margin-left: 67%;
  margin-top: 8%;
  height: 0;
  width: 80px;
  z-index: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: height 150ms ease-out;
  overflow-y: hidden;
}

.commentButtons {
  position: absolute;
  margin-left: 67%;
  margin-top: 8%;
  z-index: 1;
  height: 60px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 5px;
  border: 2px solid rgb(101, 71, 42);
  background: rgb(21, 16, 14);
  transition: height 150ms ease-in;
  overflow-y: hidden;
}

.form {
  background: rgb(21, 16, 14, 0.92);
  position: relative;
  bottom: 4px;
  width: 85%;
}
.textBox {
  color: #e4c274;
  background-color: rgba(44, 42, 41, 0.92);
  width: 100%;
  min-height: 25px;
  max-height: 200px;
  font-size: 13pt;
  font-family: "Times New Roman", Times, serif;
}
.cancel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 10pt;
  color: red;
}
.buttonPanel {
  outline: 2px solid rgb(101, 71, 42);
  background: rgb(21, 16, 14, 0.92);
  border-radius: 4px;
  width: 100%;
  min-height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buildButtonsContainer1 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  row-gap: 15%;
}
.buildButton1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background: rgb(21, 16, 14, 0.92);
  border-radius: 4px;
  height: 35%;
}
.buildButton1:hover {
  color: #e69a28;
  background: none;
}
.buildButtonsContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 15%;
}

.buildButton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background: rgb(21, 16, 14, 0.92);
  border-radius: 4px;
  height: 35%;
  width: 30%;
}

.buildButton2:hover {
  color: #e69a28;
  background: none;
}

#fade {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  transition: all 0.3s;
}

.loading {
  position: relative;
  top: 40%;
}

/*
FADE-IN ANIMATIONS !!!!!!!!!!!
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
