.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  width: 26%;
}

.infoPanel {
  outline: 3px solid rgb(101, 71, 42);
  background: rgb(21, 16, 14, 0.88);
  border-radius: 4px;
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.infoPanel > * {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
.infoToggle {
  position: absolute;
  right: 1%;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.title {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  font-size: 17pt;
  color: #e69a28;
}
.infoClassHead {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoClassHead > img {
  height: 100px;
  width: 100px;
}
.infoBody {
  width: 100%;
  height: 70%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
}
.infoName {
  height: 10%;
  font-size: 15pt;
}
.infoAttributes {
  height: 15%;
  display: flex;
  column-gap: 12px;
  font-size: 16pt;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orange {
  color: #e69a28;
}
.infoClasses {
  width: 80%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.infoClass {
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listImage {
  width: 45px;
  height: 45px;
}
.infoCharacter {
  font-size: 12pt;
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.scroll {
  height: 85%;
  width: 85%;
  overflow-y: auto;
}
.commentsList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 5px;
  row-gap: 10px;
}
.comment {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  padding-left: 4px;
  padding-top: 4px;
  background: rgba(3, 3, 3, 0.358);
  border-radius: 4px;
  width: 95%;
  height: 70px;
  max-height: 120px;
}
.commentButtons {
  display: flex;
  column-gap: 5px;
}
form {
  width: 85%;
  position: relative;
  bottom: 4px;
}
.textBox {
  color: #e4c274;
  background-color: rgba(15, 13, 13, 0.795);
  width: 100%;
}

.userBar {
  outline: 3px solid rgb(101, 71, 42);
  background: rgb(21, 16, 14, 0.88);
  border-radius: 4px;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buildButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  height: 87%;
}

.buildButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
  width: 100%;
  height: 50%;
}

.buildButtons > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40%;
}

#calButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27%;
  width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 87%;
}
.welcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e69a28;
  font-size: 14pt;
  text-align: center;
}

.userButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 10px;
  width: 30%;
  height: 87%;
}

.userButtons > * {
  width: 100%;
  height: 27%;
}



#logout {
  background-color: rgba(145, 23, 23, 0.906);
  transition: all 0.3s;
}

#logout:hover {
  background-color: rgb(215, 17, 17);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4c274;
  outline: 2px solid rgb(101, 71, 42);
  background-color: rgba(17, 13, 12, 0.78);
  border-radius: 4px;
  font-size: 10pt;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  transition: all 0.3s;
}

.button:hover {
  color: #e69a28;
  outline-color: #e4c274;
}

.loading {
  position: relative;
  top: 40%;
}

.loggingIn {
  position: relative;
  bottom: 35%;
}

@media (max-width: 600px) {
  .main {
    display: none;
  }
}

/*
FADE-IN ANIMATIONS !!!!!!!!!!!
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
