.itemsList {
  min-width: 400px;
  min-height: 450px;
  outline: 2px solid rgb(101, 71, 42);
  background-color: rgb(17, 13, 12);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadTable{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  min-width: 350px;
  min-height: 400px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.thead {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.thead > * {
  color: #e69a28;
}

.tbody {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.item {
  border-radius: 5px;
  width: 100%;
  height: 65px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: relative;
}
.item:hover {
  color: rgb(245, 223, 153);
  text-decoration: underline;
}

#selectedItem {
  background-color: rgba(39, 37, 37, 0.96);
}
#selectedItem:hover {
  text-decoration: underline;
}

.equippedItem {
  border-radius: 5px;
  width: 100%;
  height: 65px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: relative;
  color: #e69a28;
}

.equippedItem:hover {
  background-color: rgba(39, 37, 37, 0.96);
}

.equippedItem > .itemImg {
  outline: 2px solid rgb(180, 135, 92);
}

.itemImg {
  border-radius: 4px;
  position: relative;
  left: 8px;
}

/* DESCRIPTION PANEL */

.sideMenu {
  position: absolute;
  left: 102%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;
  width: 400px;
  min-height: 210px;
  max-height: 350px;
  outline: 2px solid rgb(101, 71, 42);
  background-color: rgb(17, 13, 12);
}

.sideTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 350px;
  row-gap: 10px;
  border-radius: 4px;
}
.sideHeader {
  width: 100%;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideHeader > * {
  display: flex;
  align-items: center;
  height: 55px;
  color: #e69a28;
}
.sideInfo {
  width: 100%;
  min-height: 30px;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}
.orange {
  color: #e69a28;
  text-decoration: underline;
}
.damage{
  display: flex;
  column-gap: 3px;
}

.text {
  font-size: 12pt;
}

.description {
  min-height: 77px;
}

.buttons {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.equip {
  border-radius: 4px;
  background-color: rgb(27, 19, 11);
  outline: 2px solid rgb(101, 71, 42);
  width: 45%;
  height: 35px;
}
